In [1]:

print("Welcome to the Collections concept in python")

Welcome to the Collections concept in python

In [2]:
# Collections in python 
    - List
    - Tuple
    - Set
    - Dictionary

IndentationError: unexpected indent (<ipython-input-2-c67b407ea882>, line 2)

In [ ]:
# List 
 - List data can be represented by using [] or list()
 - List allow duplicate value
 - We can manupulate data by using indexing and Slicing
 - Oredered format values are stored in a list

In [3]:
List1=[1,2,3]
List1

[1, 2, 3]

In [4]:
List2=["Kalyan","Badulla","Rakesh"]
List2

['Kalyan', 'Badulla', 'Rakesh']

In [5]:
list3=["Ram",1,"Sam",2,"Nayan",3]
print(list3)

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [6]:
# Indexing 
list3[2]

'Sam'

In [7]:
list3[4]

'Nayan'

In [8]:
list3[-1]

3

In [9]:
list3[::-1]

[3, 'Nayan', 2, 'Sam', 1, 'Ram']

In [10]:
list3[2:]

['Sam', 2, 'Nayan', 3]

In [11]:
list3[0:4]

['Ram', 1, 'Sam', 2]

In [12]:
list3[:-2]

['Ram', 1, 'Sam', 2]

In [13]:
list3[1:4]

[1, 'Sam', 2]

In [14]:
demo=list3[1:3]
demo

[1, 'Sam']

In [15]:
list3.append("Mounika")
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3, 'Mounika']

In [16]:
list5=[1,2,3]
list6=["a","b","c"]
list5.append(list6)
list5

[1, 2, 3, ['a', 'b', 'c']]

In [18]:
employee=["sam","Mounica","Bhanu"]
manager=["Rakesh","vamsi","Madhavi"]
for emp in employee:
    manager.append(emp)

print(manager)

['Rakesh', 'vamsi', 'Madhavi', 'sam', 'Mounica', 'Bhanu']

In [19]:
if "vamsi" in manager:
    print("He is in manager list")
else:
    print("No he is not one of the manager")

He is in manager list

In [ ]:

marks=[]
marks_size=int(input("Enter how many marks are there"))
for data in range(marks_size):
    marks_list=int(input("Enter Marks"))
    marks.append(marks_list)

print("Entered Marks are ", marks)
def secondHighest(marks):
    marks.sort()
    return marks[-2]

secondHighest(marks)

Enter how many marks are there7