In [1]:
n =int(input())
if (n%5==0):
    print('it is 5 multiple')
else:
    print('it is not 5 mulple')

125262
it is not 5 mulple

In [2]:

for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [4]:

for i in range(10):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [5]:

for y in range(1,10):
    print(y,end=' ')

1 2 3 4 5 6 7 8 9

In [6]:

for a in range(1,10,2):
    print(a,end=' ')

1 3 5 7 9

In [7]:

for b in range(0,15,2):
    print(b,end=' ')

0 2 4 6 8 10 12 14

In [8]:
## generate 5 or 10 multiples upto 10
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [ ]:

# generate a math table for a given number
# input:enter a no to generate matn table:12
#output:12*1=12
#        12*2=24....12*10=120
a=int(input('enter a number to print a table:'))
for n in range(1,11):
    print(a,"*",n,"=",a*n)

In [ ]:
i=1
while(i<=10):
    print(i)
    i+=1
print(i)

In [ ]:

for i in range(100):
    if(i==51):
        break
    print(i,end=' ')